<p>
  <strong>Datetime:</strong>
  <%= flight.datetime %>
</p>

<p>
  <strong>From:</strong>
  <%= flight.from.code %>
</p>

<p>
  <strong>To:</strong>
  <%= flight.to.code %>
</p>

<p>
  <strong>Duration:</strong>
  <%= flight.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= flight.price %>
</p>